:root {
  --color-dark-blue: 90deg, rgba(2,0,36,1) 0%, rgba(43,47,66,1) 62%, rgba(112,168,180,1) 100%;
  --color-light-gray: #8d99ae;
  --color-ice: #edf2f4;
  --color-light-red: #ef233c;
  --color-dark-red: #d90429;
}

html,
body {
  overflow: hidden;
}
