.page-landing {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-dark-blue);
}

* {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
p {
  color: var(--color-ice);
  margin-bottom: 15px;
}

input {
  height: 3rem;
  width: 35rem;
  margin-bottom: 1rem;
}

.search-query {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search-result {
  color: var(--color-ice);
}
