// .page-landing {
//   width: 100vw;
//   height: 100vh;

//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background-color: var(--color-dark-blue);

//   display: grid;
//   grid-template-columns: repeat(11, 1fr);
//   grid-template-rows: 50% 50%;
//   gap: 1px;
// }

// .main-container {
//   display: grid;
//   grid-template-columns: 1fr 2fr 1fr;
//   grid-template-rows: 25% 20% 30%;
//   height: 50vh;
//   grid-gap: 10px;
// }

.main-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: max-content min-content max-content;
  height: 30vh;
  grid-gap: 10px;
}

.search-item {
  grid-area: 1/2/4/5;
}

.grid-title {
  grid-area: 1/3/1/2;
}

.grid-input {
  grid-area: 2/3/2/2;
}

.grid-search-result {
  grid-area: 3/2/3/2;
}

.card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 15px;
}

.div-box {
  border: 2px solid black;
}

* {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
p {
  color: var(--color-ice);
}

.grid-p {
  grid-area: 1/2/3/4;
}

body {
  height: 100vh;
  width: 100vw;
}

input {
  width: 50%;
}

.search-result {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.main-content {
  grid-column: 5/12;
  grid-row: 1/2;
}

.error-msg {
  grid-area: 2/3/3/5;
}
