<div class="main-container">
  <h1 class="grid-title">Busque pelo seu personagem favorito</h1>
  <input class="grid-input" [formControl]="inputSearch" type="text" required />
</div>

<div
  class="card-wrapper div-box"
  *ngIf="result$ | async as character; else elseBlock"
>
  <h3 class="grid-search-result">{{ total }} Resultados na busca</h3>

  <div class="grid-card" *ngFor="let swCharacter of character">
    <app-sw-item [swCharacter]="swCharacter.name"></app-sw-item>
  </div>
</div>

<ng-template #elseBlock
  ><div><p class="grid-p">Não há resultados</p></div></ng-template
>
<div>
  <router-outlet></router-outlet>
</div>
