// .page-landing {
//   width: 100vw;
//   height: 100vh;

//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background-color: var(--color-dark-blue);

//   display: grid;
//   grid-template-columns: repeat(11, 1fr);
//   grid-template-rows: 50% 50%;
//   gap: 1px;
// }

.main-container {
}

* {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
p {
  color: var(--color-ice);
  margin-bottom: 15px;
}

body {
  height: 100vh;
  width: 100vw;
}

input {
  height: 3rem;
  width: 35rem;
  margin-bottom: 1rem;
}

.search-result {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.main-content {
  grid-column: 5/12;
  grid-row: 1/2;
}

.card-wrapper {
  display: grid;
  grid-column: -11/-1;
  grid-row: 2/2;
  color: var(--color-ice);
}

.test {
  padding: 5px;
}
